.main-section-wrapper{
    // margin: 2rem 0;
    border-radius: 20px;
    .ant-menu-item-selected{
        color: #E50914;
    }
    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
        background-color: #191919;
    }
    .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after{
        border-right: 3px solid #E50914;
    }
    .ant-menu-item:hover, .ant-menu-item-active{
        color: #ffffff;
    }
}

.ant-card-watchlist{
    display: inline-block;
    width: 100%;
    // min-width: 40em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .ant-card-actions{
        background: none;
        border: none;
    }
    .ant-card-actions > li:not(:last-child) {
        border: none;
    }
    .ant-card-meta-title {
        font-size: 1em;
        margin-bottom: 3px !important;
        color: #ffffff;
    }
    .ant-card-meta-description {
        font-size: 1em;
        color: #ffffff;
    }
    .ant-card-hoverable:hover {
        transform: scale(1.2);
    }
    .ant-card {
        transition: .8s ;
        width: 120px;
        height: 220px;
        background-color: #262626;
        border: none;
        font-size: 10px;
        box-shadow: none;
        padding: 10px;
    }
    .ant-card-body{
        text-align: center;
        padding: 1em 0;
    }
    .ant-card-cover {
        img{
            border-radius: 10px;
        }
    }
}

.ant-card-actions > li > span > .anticon:hover{
    color: white;
}
.movieDetail{
    min-width: 25em;
}
// img {
    //     height: 150px;
    // }
    
    .profile-photo:hover {
        cursor: pointer;
    }

.ant-card-reviewlist{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2em;
    flex-wrap: wrap;
    justify-content: space-between;
    .ant-card-meta-detail{
        margin-top: 8px;
    }
    .ant-card-actions{
        background: none;
        border: none;
    }
    .ant-card-actions > li:not(:last-child) {
        border: none;
    }
    .ant-card-meta-title {
        font-size: 1em;
        margin-bottom: 3px !important;
        color: #ffffff;
    }
    .ant-card-meta-description {
        font-size: 1em;
        color: #ffffff;
    }
    .ant-card-hoverable:hover {
        transform: scale(1.2);
    }
    .ant-card {
        transition: .8s ;
        width: 24rem!important;
        height: 200px;
        background-color: #262626;
        border: none;
        font-size: 10px;
        box-shadow: none;
        padding: 10px;
    }
    .ant-card-body{
        text-align: center;
        padding: 2em 0;
    }
    .ant-card-cover {
        img{
            border-radius: 10px;
        }
    }
}