.ant-carousel .slick-slide {
    text-align: center;
    height: 538px;
    line-height: 538px;
    background: #364d79;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
    }
  }
